.dataTables_filter{
   display: none;
}

.dataTables_length {
   display: none;
}
.margin-top-negative-10{
    margin-top: -10px;
}

.select2-container {
width: 100% !important;
padding: 0;
}

.disable-buton{
  
  cursor: not-allowed;
}